.form { max-width: 800px; margin-right: calc(5% + 150px); }

.form-control-wrapper { position: relative; }

.form-control { display: block; width: 100%; }

.textbox { border: 1px solid #d5d5d5; border-radius: 2px; }
    .textbox:focus { outline: none; }

input.textbox--line {
    position: relative;
    display: block;
    padding-left: 0;
    width: 100%;
    background: transparent;
    outline: none;
    border: 0 none; border-bottom: 1px solid #a9a9a9;
}
    .textbox--line:focus { border-color: #16ABC8; box-shadow: 0 1px 0 #16ABC8; }

[data-counter]:after {
    content: attr(data-counter-val) '/' attr(data-counter-max);
    position: absolute;
    top: 100%; right: 0;
}

.fl-container {
    padding-top: 20px;
}

label[data-type=placeholder] {
    position: absolute;
    bottom: 25px;
    font-size: 1.3em;
    transition: .2s;
    transition-property: bottom, padding;
}

    label[data-type=placeholder].down {
        bottom: 1px;
        font-size: 1.5em;
        color: #808080;
    }

select[data-custom="select"] { visibility: hidden; }

.select-container {
    position: relative;
    display: inline-block;
    padding: 5px 15px 1px 2px;
    border-bottom: 1px solid #999;;
}
    .select-container:after {
        content: '▼';
        position: absolute;
        color: #333;
        top: 9px; right: 0;
        font-size: 0.8em;
    }

.label-select {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background: transparent;
    outline: none;
    border: 0 none; border-bottom: 1px solid #808080;
}
    .label-select:focus { 
        border-color: #16ABC8;
        box-shadow: 0 1px 0 #16ABC8;
    }
    .label-select:before { 
        content: "▼";
        position: absolute;
        top: 0; right: 5px;
        font-size: 0.8em;
        transform: scaleX(1.5);
    }

.label-float { font-size: 1.2em; }

.tag {
    position: relative;
    display: inline-block;
    padding: 3px 20px 2px 5px;
    max-width: 100px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #e0e0e0;
}
    .tag:after {
        content: '✖';
        position: absolute;
        top: 2px; right: 5px;
        font-size: 0.9em; font-weight: 300;
    }
    .tag:not(:last-child) { margin-right: 5px; }

.btn-modal {
    font-size: 1.6em;
    text-transform: uppercase;
}

/* Form component: Slider */
input.slider { display: none; }

.slider-label { 
    position: relative; z-index: 5;    
    padding-right: 60px;
}
    .slider-label:before,
    .slider-label:after {
        content: "";
        position: absolute;
    }
    .slider-label:before {
        top: -3px; bottom: -3px; right: 30px;
        width: 25px; 
        height: 25px;
        border-radius: 50%;
        background-color: #f9f9f9;
        box-shadow: 0 2px 3px #999, 0 -1px #d5d5d5;
        z-index: -1;
        transition: transform .2s;
    }
    .slider-label:after {
        top: 2px; right: 0;
        height: 15px;
        width: 50px;
        border-radius: 180px;
        background-color: #c0c0c0;
        z-index: -2;
        transition: background-color .2s .1s
    }

    .slider-label[data-checked="on"]:before { background-color: #fff; transform: translateX(35px); }
    .slider-label[data-checked="on"]:after { content:attr(data-on-message);  }

/* Form component: Selector */
.selector { display: flex; border: 1px solid; border-radius: 5px; }

    .selector-item { flex-grow: 1; padding: 5px 1%; text-align: center; }
        .selector-item:not(:last-child) { border-right: 1px solid; }
        .selector-item[data-checked="on"] { color: #fff; }

    .selector input { display: none; }

/* Form Accordion */
.form-accordion {
    box-shadow: 0 1px 2px #a9a9a9;
    margin-bottom: 10px;
}