/* Form Toolbar
    Contains a list of button: save, preview, delete
    Uses material icons
---------------------------------------------------------------------------- */

/* Toolbar styledef
    + button: `form-toolbar__button`
    - button save: `form-toolbar__button[data-action="save"]`
    - button preview: `form-toolbar__button[data-action="preview"]`
    - button delete: `form-toolbar__button[data-action="delete"]`
 */
 .form-toolbar {
    position: fixed; bottom: 80px; right: calc(250px - 5%);
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    font-size: 1.05em;
    border-radius: 2px;
    box-shadow: 1px 0 2px #999, -1px 0 2px #999;
}

    /* Button styledef */
    .form-toolbar__button {
        position: relative;
        display: inline-block;
        width: 65px; height: 60px;
        box-sizing: border-box;
    }
    
    /* Button specific styledef */
    .form-toolbar__button[data-action="delete"] { margin-bottom: 5px; }

    .form-toolbar__button[data-action="save"] {
        color: #fff;
        background-color: #49a84d;
        border-radius: 0 0 2px 2px;
    }

        /* Button's element styledef
            - icon: btn-icon
            - label: btn-label
         */
        .form-toolbar__button .btn-icon { 
            display: block;
            margin: 0 auto 2px;
            width: 20px; 
            height: 20px; 
        }

        .form-toolbar__button .btn-icon.fa-trash-alt,
        .form-toolbar__button .btn-icon.fa-eye,
        .form-toolbar__button .btn-icon.fa-save { 
            font-size: 2em;
            color: #555;
            transition: transform .5s;
        }
        .form-toolbar__button .btn-icon.fa-save { color: #fff; }
    
        .form-toolbar__button .btn-label { 
            display: block;
            position: absolute;
            top: 20px; left: 0;
            padding: 5px;
            font-size: 1.3em; opacity: 0; 
            transition: .2s;
        }
        
        /* Button hover action  */
        .form-toolbar__button:hover { color: transparent; transition: .2s; }
    
            .form-toolbar__button:hover .btn-icon.fa-trash-alt,
            .form-toolbar__button:hover .btn-icon.fa-eye,
            .form-toolbar__button:hover .btn-icon.fa-save { 
                transform: scale(1.5) translateY(3px) rotate(-360deg); 
            }

            .form-toolbar__button:hover .btn-label {
                left: calc(100% + 10px);
                color: #fff;
                border-radius: 2px;
                opacity: 1;
            }
        
        /* Button specific hover action  */
        .form-toolbar__button[data-action="delete"]:hover,
        .form-toolbar__button[data-action="preview"]:hover {
            background-color: #e5e5e5;
        }

            .form-toolbar__button[data-action="delete"]:hover .btn-label,
            .form-toolbar__button[data-action="preview"]:hover .btn-label {
                background-color: #555; 
            }

        .form-toolbar__button[data-action="save"]:hover { background-color: #38aa3e; }

            .form-toolbar__button[data-action="save"]:hover .btn-label { background-color: #49a84d; }