html,
body {
    height: 100%;
    font: normal 10px 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
}

h1 { font-size: 2.8em; }

h2 { font: normal 2.2em 'Franklin Gothic Heavy', 'Arial Black', Arial, sans-serif; }

h3 { font-size: 2em; }

h4 { font-size: 1.8em; }

h5 { font-size: 1.6em; }

code { font-family: Consolas, 'Courier New', Courier, monospace; }

p, li, td, th { font-size: 1.5em; }

td { padding: 5px 1%; }

.lib-name { text-transform: uppercase; font-weight: 600; }

.bare-list { margin: 0; padding: 0; list-style: none; }

header { height: 50px; background: linear-gradient(120deg, royalblue 10%, #fff 10%); }

.content-wrapper { padding-left: 5%; padding-right: 5%; }

header .content-wrapper { display: flex; height: 100%; }

main { min-height: calc(100% - 50px); background-color: #f0f0f0; }

.body { padding-top: 20px; padding-bottom: 30px; }

.logo { 
    display: flex; 
    height: 30px; 
    align-self: center; 
    font-size: 1.7em; 
    text-decoration: none; 
}

.logo--proto, 
.logo--labo { 
    display: inline-block; 
    width: 50px; 
    line-height: 28px; 
    text-align: center; 
}

.logo--proto { 
    font-family: Rockwell; 
    color: rgb(255, 192, 0); 
    border: 1px solid currentColor; border-right: 0 none; 
}

.logo--labo { 
    font-family: 'OCR A Extended'; 
    color: #fff; 
    border: 1px solid rgb(104, 82, 152); border-left: 0 none; 
    background-color: rgb(104, 82, 152); 
}

.section:not(:last-child) { margin-bottom: 20px; }

.section-title { 
    margin-top: 0; 
    width: 100%; 
    color: #555; 
}

.btn {
    font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
    border: 0 none;
}

.title { margin-bottom: 5px; }

.example-title { margin-bottom: 5px; font-weight: 600; }

.site-footer { color: #f0f0f0; background-color: #0059CF; }

.site-footer .content-wrapper { padding-top: 10px; padding-bottom: 20px; }

.site-footer p { margin: 0; }

.hidden { display: none; }