.html-code-container { margin-bottom: 10px; }

.html-code-container pre { margin: 0; }

.html-code-container i { font-style: normal; }

.html-code {
    position: relative;
    display: block;
    padding: 10px 20px;
    font-size: 1.3em;
    color: #fff;
    border-radius: 1px;
    background: #242124;
    overflow: auto;
}

.text { color: #f5f5f5; }

.html-tag { 
    line-height: 1.25; 
    color: rgb(30, 135, 255) 
} 

.bracket { color: #a9a9a9; }

.html-attr { color: rgb(98, 179, 255)  }
    .html-attr:before { content: " "; }
    .html-attr:after {
        content: "\"" attr(data-value) "\"";
        color: rgb(255, 38, 110);
        color: rgb(255, 127, 53);
    }
    .html-attr i { color: #f0f0f0; }

.btn-copy {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 26px;
    box-sizing: border-box;
    font-size: 1.4em; font-weight: 600;
    color: #fff;
    border-radius: 2px 2px 0 0;
    background-color: rgb(104, 82, 152);
    z-index: 2;
    transition: .2s;
}

.btn-copy:hover {
    border-radius: 5px 5px 0 0;
    transform: scaleY(0.9) translateY(2px);
}

.btn-copy:focus {
    transform: scaleY(0.6) translateY(10px);
}

.html-code:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 100%; left: 0;
    background-color: rgba(104, 82, 152, 0.5);
    transition: .3s;
}

.btn-copy:hover + pre .html-code:after { 
    bottom: 0;
}

.btn-copy:active + pre .html-code:after { 
    background-color: rgba(104, 82, 152, 0.8);
}